body {
  margin: 0;
  background-color: #fafafa;
}

#main {
  margin-bottom: 200px;
  margin-top: 5%;
}
  
#banner {
  display: -ms-flexbox;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 8em 0 6em 0;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url("../img/about-banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 0;
  min-height: 100vh;
  height: 100vh !important;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#banner .inner {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: opacity 1s ease, -moz-transform 1s ease;
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
  -ms-transition: opacity 1s ease, -ms-transform 1s ease;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 2;
}

#banner h1 {
  font-size: 4em;
  margin-bottom: 0.25em;
  color: #fff;
}

#banner p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.75em;
}

@-moz-keyframes more {
  0% {
    bottom: -3em;
  }

  100% {
    bottom: 0;
  }
}

@-webkit-keyframes more {
  0% {
    bottom: -3em;
  }

  100% {
    bottom: 0;
  }
}

@-ms-keyframes more {
  0% {
    bottom: -3em;
  }

  100% {
    bottom: 0;
  }
}

@keyframes more {
  0% {
    bottom: -3em;
  }

  100% {
    bottom: 0;
  }
}

#banner:before {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 1.25s;
  -webkit-transition-delay: 1.25s;
  -ms-transition-delay: 1.25s;
  transition-delay: 1.25s;
  content: "";
  display: block;
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.65;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 980px) {
  #banner {
    font-size: 0.85em;
  }

  #banner br {
    display: none;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    min-height: 0;
    padding: 8em 2em 4em 2em;
  }

  #banner .inner {
    width: 100%;
  }

  #banner h1 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    padding-bottom: 0;
  }

  #banner p {
    font-size: 1.25em;
  }

  #banner .button {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #banner p {
    font-size: 1em;
  }
}

body.is-loading #banner .inner {
  -moz-transform: scale(0.99);
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
  opacity: 0;
}

body.is-loading #banner:before {
  opacity: 1;
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 0px 7px #fff, 0px 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.image img {
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.round {
  border-radius: 100%;
}

.image.round img {
  border-radius: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */

  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Wrapper */

.wrapper {
  padding: 6em 0 4em 0;
  position: relative;
}

.wrapper .inner {
  margin: 0 auto;
  width: 80em;
  position: relative;
  z-index: 99;
}

.wrapper header {
  margin-bottom: 4em;
}

@media screen and (max-width: 736px) {
  .wrapper header {
    margin-bottom: 2em;
  }
}

.wrapper.style1 {
  background-color: #fafafa;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper.style1 input,
.wrapper.style1 select,
.wrapper.style1 textarea {
  color: #000;
}

.wrapper.style1 a {
  color: #000;
}

.wrapper.style1 a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.wrapper.style1 strong,
.wrapper.style1 b {
  color: #000;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6 {
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper.style1 blockquote {
  border-left-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 code {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 hr {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 .box {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 input[type="submit"],
.wrapper.style1 input[type="reset"],
.wrapper.style1 input[type="button"],
.wrapper.style1 button,
.wrapper.style1 .button {
  background-color: #3498db;
  color: #fff !important;
}

.wrapper.style1 input[type="submit"]:hover,
.wrapper.style1 input[type="reset"]:hover,
.wrapper.style1 input[type="button"]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
  background-color: #4aa3df;
}

.wrapper.style1 input[type="submit"]:active,
.wrapper.style1 input[type="reset"]:active,
.wrapper.style1 input[type="button"]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
  background-color: #258cd1;
}

.wrapper.style1 input[type="submit"].alt,
.wrapper.style1 input[type="reset"].alt,
.wrapper.style1 input[type="button"].alt,
.wrapper.style1 button.alt,
.wrapper.style1 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15);
  color: #000 !important;
}

.wrapper.style1 input[type="submit"].alt:hover,
.wrapper.style1 input[type="reset"].alt:hover,
.wrapper.style1 input[type="button"].alt:hover,
.wrapper.style1 button.alt:hover,
.wrapper.style1 .button.alt:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.style1 input[type="submit"].alt:active,
.wrapper.style1 input[type="reset"].alt:active,
.wrapper.style1 input[type="button"].alt:active,
.wrapper.style1 button.alt:active,
.wrapper.style1 .button.alt:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.wrapper.style1 input[type="submit"].alt.icon:before,
.wrapper.style1 input[type="reset"].alt.icon:before,
.wrapper.style1 input[type="button"].alt.icon:before,
.wrapper.style1 button.alt.icon:before,
.wrapper.style1 .button.alt.icon:before {
  color: #bfbfbf;
}

.wrapper.style1 input[type="submit"].special,
.wrapper.style1 input[type="reset"].special,
.wrapper.style1 input[type="button"].special,
.wrapper.style1 button.special,
.wrapper.style1 .button.special {
  background-color: #000;
  color: #fafafa !important;
}

.wrapper.style1 label {
  color: #000;
}

.wrapper.style1 input[type="text"],
.wrapper.style1 input[type="password"],
.wrapper.style1 input[type="email"],
.wrapper.style1 select,
.wrapper.style1 textarea {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 input[type="text"]:focus,
.wrapper.style1 input[type="password"]:focus,
.wrapper.style1 input[type="email"]:focus,
.wrapper.style1 select:focus,
.wrapper.style1 textarea:focus {
  border-color: #000;
  box-shadow: 0 0 0 1px #000;
}

.wrapper.style1 .select-wrapper:before {
  color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 input[type="checkbox"] + label,
.wrapper.style1 input[type="radio"] + label {
  color: #999999;
}

.wrapper.style1 input[type="checkbox"] + label:before,
.wrapper.style1 input[type="radio"] + label:before {
  background: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 input[type="checkbox"]:checked + label:before,
.wrapper.style1 input[type="radio"]:checked + label:before {
  background-color: #000;
  border-color: #000;
  color: #fafafa;
}

.wrapper.style1 input[type="checkbox"]:focus + label:before,
.wrapper.style1 input[type="radio"]:focus + label:before {
  border-color: #000;
  box-shadow: 0 0 0 1px #000;
}

.wrapper.style1 ::-webkit-input-placeholder {
  color: #bfbfbf !important;
}

.wrapper.style1 :-moz-placeholder {
  color: #bfbfbf !important;
}

.wrapper.style1 ::-moz-placeholder {
  color: #bfbfbf !important;
}

.wrapper.style1 :-ms-input-placeholder {
  color: #bfbfbf !important;
}

.wrapper.style1 .formerize-placeholder {
  color: #bfbfbf !important;
}

.wrapper.style1 ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 header p {
  color: #bfbfbf;
}

.wrapper.style1 table tbody tr {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.075);
}

.wrapper.style1 table th {
  color: #000;
}

.wrapper.style1 table thead {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 table tfoot {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style1 table.alt tbody tr td {
  border-color: rgba(0, 0, 0, 0.15);
}

.wrapper.style2 {
  background-color: #3498db;
  color: #aed6f1;
}

.wrapper.style2 input,
.wrapper.style2 select,
.wrapper.style2 textarea {
  color: #fff;
}

.wrapper.style2 a {
  color: #999999;
}

.wrapper.style2 a:hover {
  color: rgba(153, 153, 153, 0.5);
}

.wrapper.style2 strong,
.wrapper.style2 b {
  color: #fff;
}

.wrapper.style2 h1,
.wrapper.style2 h2,
.wrapper.style2 h3,
.wrapper.style2 h4,
.wrapper.style2 h5,
.wrapper.style2 h6 {
  color: #fff;
}

.wrapper.style2 blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 .box {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 input[type="submit"],
.wrapper.style2 input[type="reset"],
.wrapper.style2 input[type="button"],
.wrapper.style2 button,
.wrapper.style2 .button {
  background-color: #fff;
  color: #3498db !important;
}

.wrapper.style2 input[type="submit"].alt,
.wrapper.style2 input[type="reset"].alt,
.wrapper.style2 input[type="button"].alt,
.wrapper.style2 button.alt,
.wrapper.style2 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: #fff !important;
}

.wrapper.style2 input[type="submit"].alt:hover,
.wrapper.style2 input[type="reset"].alt:hover,
.wrapper.style2 input[type="button"].alt:hover,
.wrapper.style2 button.alt:hover,
.wrapper.style2 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style2 input[type="submit"].alt:active,
.wrapper.style2 input[type="reset"].alt:active,
.wrapper.style2 input[type="button"].alt:active,
.wrapper.style2 button.alt:active,
.wrapper.style2 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style2 input[type="submit"].alt.icon:before,
.wrapper.style2 input[type="reset"].alt.icon:before,
.wrapper.style2 input[type="button"].alt.icon:before,
.wrapper.style2 button.alt.icon:before,
.wrapper.style2 .button.alt.icon:before {
  color: #67b2e4;
}

.wrapper.style2 input[type="submit"].special,
.wrapper.style2 input[type="reset"].special,
.wrapper.style2 input[type="button"].special,
.wrapper.style2 button.special,
.wrapper.style2 .button.special {
  background-color: #fafafa;
  color: #000 !important;
}

.wrapper.style2 input[type="submit"].special:hover,
.wrapper.style2 input[type="reset"].special:hover,
.wrapper.style2 input[type="button"].special:hover,
.wrapper.style2 button.special:hover,
.wrapper.style2 .button.special:hover {
  background-color: white;
}

.wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 button.special:active,
.wrapper.style2 .button.special:active {
  background-color: #ededed;
}

.wrapper.style2 label {
  color: #fff;
}

.wrapper.style2 input[type="text"],
.wrapper.style2 input[type="password"],
.wrapper.style2 input[type="email"],
.wrapper.style2 select,
.wrapper.style2 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 input[type="text"]:focus,
.wrapper.style2 input[type="password"]:focus,
.wrapper.style2 input[type="email"]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
  border-color: #fafafa;
  box-shadow: 0 0 0 1px #fafafa;
}

.wrapper.style2 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 input[type="checkbox"] + label,
.wrapper.style2 input[type="radio"] + label {
  color: #aed6f1;
}

.wrapper.style2 input[type="checkbox"] + label:before,
.wrapper.style2 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 input[type="checkbox"]:checked + label:before,
.wrapper.style2 input[type="radio"]:checked + label:before {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #000;
}

.wrapper.style2 input[type="checkbox"]:focus + label:before,
.wrapper.style2 input[type="radio"]:focus + label:before {
  border-color: #fafafa;
  box-shadow: 0 0 0 1px #fafafa;
}

.wrapper.style2 ::-webkit-input-placeholder {
  color: #67b2e4 !important;
}

.wrapper.style2 :-moz-placeholder {
  color: #67b2e4 !important;
}

.wrapper.style2 ::-moz-placeholder {
  color: #67b2e4 !important;
}

.wrapper.style2 :-ms-input-placeholder {
  color: #67b2e4 !important;
}

.wrapper.style2 .formerize-placeholder {
  color: #67b2e4 !important;
}

.wrapper.style2 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 header p {
  color: #67b2e4;
}

.wrapper.style2 table tbody tr {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style2 table th {
  color: #fff;
}

.wrapper.style2 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style2 .image {
  box-shadow: 0px 0px 0px 7px #3498db, 0px 0px 0px 8px rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 60em;
  }
}

@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 90%;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3em 0 1em 0;
  }
}

/* Flex */

.flex {
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.flex.flex-2,
.flex.flex-3 {
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex.flex-2.center,
.flex.flex-3.center {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.flex.flex-2 .col {
  width: 48%;
}

.flex.flex-2 .col.col1 {
  width: 30%;
}

.flex.flex-2 .col.col2 {
  width: 66%;
}

@media screen and (max-width: 736px) {
  .flex.flex-2 .col.col1,
  .flex.flex-2 .col.col2 {
    width: 100%;
    margin-bottom: 2em;
  }

  .flex.flex-2 .col.col1 .image,
  .flex.flex-2 .col.col2 .image {
    max-width: 60%;
    margin: 0 auto 2em auto;
  }
}

.flex.flex-3 .col {
  width: 28%;
}

@media screen and (max-width: 736px) {
  .flex.flex-3 .col {
    width: 100%;
    margin-bottom: 2em;
  }

  .flex.flex-3 .col .image {
    max-width: 60%;
    margin: 0 auto 2em auto;
  }
}

.flex.flex-4 .col {
  width: 22%;
}

.flex.flex-tabs {
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex.flex-tabs ul {
  width: 20%;
}

.flex.flex-tabs .tabs {
  width: 77%;
}

@media screen and (max-width: 980px) {
  .flex.flex-4 .col {
    width: 48%;
  }

  .flex.flex-tabs ul {
    width: 30%;
  }

  .flex.flex-tabs .tabs {
    width: 67%;
  }

  .flex.flex-tabs .flex-3 .col {
    width: 48%;
  }
}

@media screen and (max-width: 736px) {
  .flex.flex-2 .col,
  .flex.flex-3 .col,
  .flex.flex-4 .col {
    width: 100%;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }

  .flex.flex-2 .col.first,
  .flex.flex-3 .col.first,
  .flex.flex-4 .col.first {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }

  .flex.flex-tabs {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex.flex-tabs ul {
    width: 100%;
  }

  .flex.flex-tabs .tabs {
    width: 100%;
  }

  .flex.flex-tabs .flex-3 .col {
    width: 100%;
  }
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  margin-top: 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.35em;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
    width: 100%;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #3498db;
  color: #fff !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #4aa3df;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #258cd1;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  color: #000 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(0, 0, 0, 0.15);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: #bfbfbf;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #fafafa;
  color: #000 !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: white;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #ededed;
}
