/*Destaques grid*/

.grid_container {
  display: grid;
  height: 100%;
  grid-template-areas: "poster_destaque trailer_destaque";
  grid-template-columns: 25% 4fr;
  grid-template-rows: 100%;
  margin: 20px;
}

.grid_container > div {
  border: 1px dashed #888;
  border-radius: .4em;

}

.poster_destaque{
    grid-area: poster_destaque;
    position: relative;
    max-height: 100%;
}

.poster_destaque > img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,1,0.7);
  z-index: 0;
}

.poster_destaque:hover .overlay{
  opacity: 1;
}

.poster_destaque:hover #movie_title{
    display:table;
    margin:0 auto;    
    padding-top: 70px;
    vertical-align: top;    
    color: white;
    font-size: 17pt;
    opacity: 1;
}

.poster_destaque:hover #information{
    display:table;
    margin:0 auto;
    padding-top: 70px;
    color: white;
    font-size: 17pt;
}

.trailer_destaque{
    grid-area: trailer_destaque;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25% /* 9 / 16 * 100% */
}

.embed_trailer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: .4em;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: .4em;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    position: relative;
    border-radius: .4em;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
    border-radius: .4em; 

}

.resCarousel-inner .item {
    opacity: 1;
    display: inline-block;
    font-size: 14px;
    white-space: initial;
    border-radius: .4em;
}

.item:hover{
    background: rgba(0, 0, 1, 0.6);
}

span#movie_title, a#information{
    display: none;
}

.item:hover #movie_title{
    display: table-cell;
    padding-top: 60px;
    vertical-align: top;
    color: white;
    font-size: 12pt;
}

.item:hover #information{
    display: block;
    padding-top: 70px;
    vertical-align: middle;
    color: white;
    font-size: 12pt;
}

.card{
    margin-top: 10px;
    height: 500px;
    position: relative;
    border-radius: .4em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-top: 20px;
    padding-left: 2.5%;
    width: 100%;
}

.card:after { /*Trianguluzinho que aparece com collapse*/
    content: '';
    position: absolute;
    top: 0;
    left: 30%; /*controla o quão a direita está o triangulo - controlar isso com js*/
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-bottom-color: #ff8080;
    border-top: 0;
    margin-left: -19px;
    margin-top: -19px;
}

.itemSinopse{
    position: relative;
    display: inline-block;
    background: rgba(0, 0, 1, 0.7);
    border-width: 5px;
    height: 95%;
    width: 38%;
}

.itemSinopse p#title{
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    left: 28px;
    top: 20px;
    width: 70%;
}

.itemSinopse p#info{
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    left: 30px;
    top: 60px;
}

.itemSinopse p#info_title{
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1.4vw;
    font-weight: normal;
    left: 30px;
    top: 150px;
}

.itemSinopse p#info_sinop{
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    left: 30px;
    top: 185px;
    width: 80%;
    text-align: left;
}

.circle {
    display: block;
    max-width: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 10px;
}

.imdb_score{
    position: absolute;
    border-color: gold;
    color: gold;
    left: 80%;
    top: 15px;
}

.PG{
    position: absolute;
    font-family: 'Arial';
    left: 80%;
    top: 390px;
    max-width: 100%;
    color: white;
}

.livre{
    border-color: green;
    background: green;
}

.pg-12{
    border-color: blue;
    background: blue;    
}

.pg-14{
    border-color: orange;
    background: orange;    
}

.pg-16{
    border-color: red;
    background: red;    
}

.pg-18{
    border-color: black;
    background: black;    
}

.icon{
    max-width: 100%;
    width: 45px; 
    height: 29px;
    position: absolute; 
}

.imdb_icon{ 
    left: 81%;
    top: 70px;
    display: inline-block; 
    border-radius: 0.4em;
}

.yt_icon{
    left: 30px;
    top: 300px;
    width: 35px; 
    height: 22px;
    display: inline-block; 
}
a.trailer{
    position: absolute;
    display: inline-block; 
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    left: 70px;
    top: 302px;

}

.itemSessoes{
    position: relative;
    display: inline-block; 
    background: rgba(0, 0, 1, 0.7);
    border-width: 5px;
    height: 95%;
    width: 59%;
}

/*banner*/

.banner {
    overflow: hidden !important;
}

/*tile css*/

.resCarousel-inner .item .tile {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 1, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
    border-radius: .4em;
}

/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

@media (max-width: 767px) {
    .leftRs,
    .rightRs {
        /*display: none;*/
    }
    .resCarousel-inner {
        overflow-x: auto;
    }
}


/*resCarousel Css End*/