/*Destaques grid*/

.grid_container {
    display: grid;
    height: 100%;
    grid-template-areas: "poster_destaque trailer_destaque";
    grid-template-columns: 25% 4fr;
    grid-template-rows: 100%;
    margin: 0px;
}

.grid_container>div {
    border: 1px;
    /*dashed #888;*/
    /*  border-radius: .4em;*/
}

.poster_destaque {
    grid-area: poster_destaque;
    position: relative;
    max-height: 100%;
}

.poster_destaque>img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 1, 0.7);
    z-index: 0;
}

.poster_destaque:hover .overlay {
    opacity: 1;
}

.poster_destaque:hover #movie_title {
    display: table;
    margin: 0 auto;
    padding-top: 70px;
    vertical-align: top;
    color: white;
    font-size: 17pt;
    opacity: 1;
}

.poster_destaque:hover .information {
    display: table;
    margin: 0 auto;
    padding-top: 70px;
    color: white;
    font-size: 17pt;
}

.trailer_destaque {
    grid-area: trailer_destaque;
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%
        /* 9 / 16 * 100% */
}

.embed_trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*divCartaz*/

.divCartaz {
    display: -webkit-flex;
    /* Safari */
    -webkit-align-items: center;
    /* Safari 7.0+ */
    display: flex;
    align-items: center center;
    background-color: rgba(255, 255, 255, .4);
    margin-bottom: 10px;
    width: 100%;
    height: 90px;
    color: rgb(255, 255, 255, .75);
    font-size: 15pt;

    font-family: 'Trirong', serif;
    background: rgb(39, 0, 65);
    background: linear-gradient(90deg,
        rgba(39, 0, 65, 0.9766281512605042) 0%,
        rgba(93, 6, 150, 0.7693452380952381) 50%,
        rgba(255, 121, 0, 0.7049194677871149) 100%);
}

/*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    visibility: visible;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 100%;
}

.rightRs {
    visibility: visible;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 100%;
}

.resCarousel {
    /*float: left;
      overflow: hidden;*/
    width: 100%;
    position: relative;
    border-radius: .4em;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
    border-radius: .4em;
}

.resCarousel-inner .item {
    opacity: 1;
    display: inline-block;
    font-size: 14px;
    white-space: initial;
    border-radius: 0.4em;
}

.item:hover {
    background: rgba(0, 0, 1, 0.4);
}

.item:hover .over {
    opacity: 1;
}

.over {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.75s ease;
    /* background-color: rgba(0,0,1,0.7); */
    z-index: 0;
}

span#movie_title,
a.information {
    display: none;
}

.item:hover #movie_title {
    display: table-cell;
    padding-top: 60px;
    vertical-align: top;
    color: white;
    font-size: 12pt;
}

.item:hover .information {
    display: block;
    padding-top: 70px;
    vertical-align: middle;
    color: white;
    font-size: 12pt;
}

.triangulo {
    position: relative;
    display: none;
}

.triangulo:after {
    /*Trianguluzinho que aparece com collapse*/
    content: "";
    float: bottom;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-bottom-color: #ff8080;
    border-top: 0;
    margin-left: -19px;
    margin-top: -19px;
    display: block;
}

.card {
    height: 500px;
    position: relative;
    border-radius: .4em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding-top: 20px;
    padding-left: 2.5%;
    width: 100%;
}

.closeCard{
    display: block;
    position: absolute;
    margin-left: 92%; 
    margin-top: -10px; 
    z-index: 1;
    z-index: 1;
}

.closeCard > i{
    color: yellow; 
}

.itemSinopse {
    position: relative;
    display: inline-block;
    background: rgba(0, 0, 1, 0.7);
    border-width: 5px;
    height: 95%;
    width: 38%;
    z-index: 0;
}

.itemSinopse p#title {
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    left: 28px;
    top: 20px;
    width: 70%;
}

.itemSinopse p#info {
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    left: 30px;
    top: 70px;
}

.itemSinopse p#info_title {
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1.4vw;
    font-weight: normal;
    left: 30px;
    top: 150px;
}

.itemSinopse p#info_sinop {
    display: block;
    position: absolute;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    left: 30px;
    top: 185px;
    width: 80%;
    text-align: left;
}

.circle {
    display: block;
    max-width: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 10px;
}

.imdb_score {
    position: absolute;
    border-color: gold;
    color: gold;
    left: 80%;
    top: 15px;
}

.PG {
    position: absolute;
    font-family: 'Arial';
    left: 80%;
    top: 390px;
    max-width: 100%;
    color: white;
}

.livre {
    border-color: green;
    background: green;
}

.pg-12 {
    border-color: blue;
    background: blue;
}

.pg-14 {
    border-color: orange;
    background: orange;
}

.pg-16 {
    border-color: red;
    background: red;
}

.pg-18 {
    border-color: black;
    background: black;
}

.icon {
    max-width: 100%;
    width: 45px;
    height: 29px;
    position: absolute;
}

.imdb_icon {
    left: 81%;
    top: 70px;
    display: inline-block;
    border-radius: 0.4em;
}

.yt_icon {
    left: 30px;
    top: 300px;
    width: 35px;
    height: 22px;
    display: inline-block;
}

a.trailer {
    position: absolute;
    display: inline-block;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    left: 70px;
    top: 302px;

}

.itemSessoes {
    position: relative;
    display: inline-block;
    background: rgba(0, 0, 1, 0.7);
    border-width: 5px;
    height: 95%;
    width: 59%;
    z-index: 0;
}

/*banner*/

.banner {
    overflow: hidden !important;
}

.nav {
    /*    background-color: rgba(51,0,51,.8);
  */
    position: absolute;
    display: block;
    margin: auto;
    width: 595px;
    max-width: 100%;
    text-align: center;
    top: 20px;
    left: 2.5%;
    right: 2.5%;
    transform: (-2.5%, -2.5%);
    border: none;
}

.nav>li {
    border: 1px solid #888;
    border-radius: .4em;
    color: white;
}

.nav>li>a {
    transition: .5s ease;
}

.hour {
    color: white;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-radius: .4em;
    background: transparent;
    width: 100%;
    background: rgb(21, 0, 56);
    background: linear-gradient(180deg, rgba(21, 0, 56, 1) 0%, rgba(52, 22, 94, 1) 100%);
    /*    background: rgba(1,1,1,.8);*/
}

.nav-tabs>li>a:hover {
    opacity: 1;
    border-radius: .4em;
    width: 100%;
    background: rgb(21, 0, 56);
    background: linear-gradient(180deg, rgba(21, 0, 56, 1) 0%, rgba(52, 22, 94, 1) 100%);
    /*  background: rgba(1,1,1,.8); */
}

.horarios {
    /*  background-color: rgba(51,0,51,.8);*/
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 105px;
    width: 595px;
    max-width: 100%;
    left: 2.5%;
    right: 2.5%;
    transform: (-2.5%, -2.5%);
}

.label {
    color: white;
    padding: 7px;
    font-family: Arial;
    border-radius: .4em;
    font-size: 10pt;
}

.dublado {
    background-color: #4CAF50;
}

/* Green */
.legendado {
    background-color: #2196F3;
}

/* Blue */
.f2D {
    background-color: #ff9800;
}

/* Orange */
.f3D {
    background-color: #f44336;
}

/* Red */
.f4K {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: purple none repeat scroll 0 0;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%) ;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/**********************************/

/* Extra Things */
/*body {
    background: #1c0624;
    font-family: "Open Sans", sans-serif;
}*/

h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

h3 i {
    color: #444;
}

/*tile css*/

.resCarousel-inner .item .tile {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 1, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
    border-radius: .4em;
}

/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

/*  R E S P O N S I V I D A D E  */

@media screen and (min-width: 550px) and (max-width: 766px) {
    .container {
        width: 550px;
    }

    .itemSessoes {
        display: block;
        height: 61%;
        width: 98%;
    }

    .itemSinopse {
        width: 98%;
        height: 35%;
    }

    .itemSinopse p#title {
        left: 9px;
        font-size: 15px;
    }

    .itemSinopse p#info {
        left: 10px;
        top: 39px;
        font-size: 12px;
    }

    .itemSinopse p#info_title {
        left: 10px;
        top: 75px;
        font-size: 12px;
    }

    .itemSinopse p#info_sinop {
        left: 10px;
        top: 95px;
        font-size: 9px;
    }

    .yt_icon {
        left: 10px;
        top: 135px;
        width: 20px;
        height: 14px;
        position: absolute;
    }

    a.trailer {
        position: absolute;
        left: 32px;
        top: 137px;
        font-size: 9px;
    }

    .imdb_score {
        left: 88%;
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 15px;
    }

    .imdb_icon {
        left: 88.5%;
        top: 59px;
        width: 35px;
        height: 23px;
        position: absolute;
    }

    .livre {
        left: 79.5%;
        top: 18px;
        width: 35px;
        height: 35px;
        line-height: 32px;
    }

    .nav>li {
        width: 12.5%;
        height: 80%;
    }

    .nav {
        width: 470px;
    }

    h3 {
        font-size: 15px;
        margin-top: 0px;
    }

    .tab-content>.active {
        width: 95%
    }
}

@media screen and (min-width: 0px) and (max-width: 549px) {
    .container {
        width: 300px;
    }

    .itemSessoes {
        display: block;
        height: 52%;
        width: 98%;
    }

    .itemSinopse {
        width: 98%;
        height: 45%;
    }

    .itemSinopse p#title {
        left: 9px;
        font-size: 15px;
        top: 10px;
    }

    .itemSinopse p#info {
        left: 10px;
        top: 26px;
        font-size: 11px;
    }

    .itemSinopse p#info_title {
        left: 10px;
        top: 65px;
        font-size: 11px;
    }

    .itemSinopse p#info_sinop {
        left: 10px;
        top: 90px;
        font-size: 9px;
    }

    .yt_icon {
        left: 10px;
        top: 145px;
        width: 20px;
        height: 14px;
        position: absolute;
    }

    a.trailer {
        position: absolute;
        left: 32px;
        top: 176px;
        font-size: 9px;
    }

    .imdb_score {
        left: 88%;
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 15px;
    }

    .imdb_icon {
        left: 88.5%;
        top: 59px;
        width: 35px;
        height: 23px;
        position: absolute;
    }

    .livre {
        left: 217px;
        top: 165px;
        width: 30px;
        height: 30px;
        line-height: 26px;
        font-size: 15px;
    }

    .nav>li {
        width: 12.5%;
        height: 80%;
    }

    .nav {
        top: 8px;
        width: 245px;
        height: 55px;
    }

    h3 {
        font-size: 15px;
        margin-top: 0px;
    }

    .tab-content>.active {
        width: 95%
    }

    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        height: 100%;
    }

    .hour {
        line-height: 0px;
        font-size: 9px;
    }
}

/*resCarousel Css End*/