body {
    margin: 0;
    padding: 0;
    font-family: 'Trirong', serif;
    background: #0D0B21;
    color: #eee;
}

.container{
    margin-top: 8px;
}

.p0 {
    padding: 0;
}

.resCarousel-inner .item {
    /*border: 4px solid #eee;*/
    /*vertical-align: top;*/
    text-align: center;
}

.resCarousel-inner .item .tile div,
.banner .item div {
    display: table;
    width: 100%;
    min-height: 350px;
    text-align: center;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.resCarousel-inner .item h1 {
    display: table-cell;
    padding-top: 60px;
    vertical-align: top;
    color: white;
    font-size: 12pt;
}

.banner .item div {
    /*background: url('blue-1sgv9jf.png') center top no-repeat;*/
    background-size: cover;
    min-height: 550px;
    border-radius: .4em;
}

.item .tile div {
    /*background: url('blue-1sgv9jf.png') center center no-repeat;*/
    background-size: cover;
    height: 200px;
    color: white;
    border-radius: .4em;
}

.item div h1 {
    background: rgba(0, 0, 1, 0.7);
}

.item div span {
    background: rgba(0, 0, 1, 0.7);
}